@using EmployabilityWebApp.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<h1 align ="center"><br><br>Welcome to My Employability<br><br></h1>
<div class="col-md-3"></div>
<div class="row">
    <div align="center" class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <br>
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-4 control-label"})
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @id = "email_form_control"})
                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                    </div>
                </div>

                <p align="center">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.ActionLink("No Account? Sign Up Here!", "RegisterBasic")
                </p>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                <div class="col-md-5">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "password_form_control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                <p align="center">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-7 col-md-1">
                        <input type="submit" value="Log in" class="btn btn-primary btn-lg"/>
                    </div>
                </div>
            }
        </section>
    </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
